{% load static %}

<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Online Services</h6>
                    <h1 class="text-white"><span class="text-primary">Check</span> Your Application Status Online</h1>
                </div>
                <p class="text-white">Access your application status quickly and securely with our online system. Our user-friendly platform ensures you're always informed about your application progress in real-time.</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Real-time status updates for your peace of mind.</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Secure and confidential access to your application details.</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>24/7 access from anywhere, ensuring you're always informed.</li>
                </ul>
            </div>
            
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h1 class="text-white m-0">Check Visa Status</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5">
                        
                        <!-- Render the visa_status_form -->
                        <form method="post" action="{% url 'check_visa_status' %}">
                            {% csrf_token %}
                            {{ visa_status_form.as_p }}
                            <div>
                                <button class="btn btn-primary btn-block py-3" type="submit">Check Now</button>
                            </div>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
