{% load static %}

<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-user-check text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Quality Assurance</h5>
                        <p class="m-0">With over 20 years of expertise, we ensure the highest quality of service, supplying skilled and semi-skilled labor force dedicated to excellence.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-clock text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Rapid Deployment</h5>
                        <p class="m-0">Our streamlined processes and vast network enable us to quickly fulfill recruitment needs, ensuring timely deployment of our workforce.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-handshake text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Global Collaboration</h5>
                        <p class="m-0">We foster strong collaborations with our clients and partners worldwide, ensuring a seamless recruitment process for all parties involved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
