{% load static %}

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
            <h1>What Say Our Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="{% static 'img/testimonial-3.jpg' %}" alt="Testimonial by Tsion Abebe" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">"The professionalism and dedication of Mefthe Sechi Foreign Employment Agency made my journey to employment abroad seamless and successful. Highly recommended!"</p>
                    <h5 class="text-truncate">Kassa Abebe</h5>
                    <span>Nurse</span>
                </div>
            </div>
            
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="{% static 'img/testimonial-1.jpg' %}" alt="Testimonial by Ahmad Al-Mahdi" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">"Finding employment in the Gulf was a dream come true. The agency's guidance and expertise in the field were instrumental in achieving my career goals."</p>
                    <h5 class="text-truncate">Ahmad Al-Mahdi</h5>
                    <span>Engineer</span>
                </div>
            </div>
            
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="{% static 'img/testimonial-2.jpg' %}" alt="Testimonial by Meron Kebede" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">"As someone new to the idea of working overseas, the agency's support made all the difference. Their commitment to my success was clear from day one."</p>
                    <h5 class="text-truncate">Meron Kebede</h5>
                    <span>Graphic Designer</span>
                </div>
            </div>
            
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="{% static 'img/testimonial-2.jpg' %}" alt="Testimonial by Fatima Zahra" style="width: 100px; height: 100px;">
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">"The agency not only helped me find a great job abroad but also prepared me for the transition. I'm grateful for their end-to-end support and genuine care."</p>
                    <h5 class="text-truncate">Roman Zerihun</h5>
                    <span>Teacher</span>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Testimonial End -->


