{% extends 'layout/base.html' %}

{% block content %}
    
    {% include 'section/carousel.html'   %}
    {# {% include 'section/booking.html'   %} #}
    {% include 'section/about.html'   %}
    {% include 'section/feature.html'   %}
    {% include 'section/destination.html'   %}
    {% include 'section/service.html'   %}
    {# {% include 'section/packages.html'   %} #}
    {% include 'section/facts.html'   %}
    {% include 'section/check.html'   %}
    {# {% include 'section/team.html'   %} #}
    {# {% include 'section/testimonial.html'   %} #}
    {# {% include 'section/blog.html'   %} #}

{% endblock %}
